/* Colors */
/* Global */
html, body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
}

.center-xs {
  padding: 0;
  margin: 0;
}

header {
  border-top: 6px solid #e47676;
  background-color: #F1F5F8;
  height: 100vh;
  margin: auto 0;
  padding: 0;
}

header .row {
  height: 100vh;
}

header .row h1 {
  font-size: 2rem;
  margin-bottom: .25rem;
}

header .row h2 {
  font-size: 2.25rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: 400;
  line-height: 2.75rem;
}

header .row .version {
  font-size: 1.125rem;
  color: #b8c2cc;
  font-weight: 700;
}

header .btn {
  font-weight: 700;
  letter-spacing: 0.0625rem;
  background: none;
  border-radius: 5px;
  border: 2px solid #e47676;
  text-transform: capitalize;
  padding: 12px 48px;
  margin: 0px .5rem;
}

header .btn_outline {
  color: #e47676;
}

header .btn_outline:hover {
  -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.03);
  background: #dc4b4b;
  border: 2px solid #dc4b4b;
  color: #fff;
}

header .btn_solid {
  background: #e47676;
  color: #fff;
}

header .btn_solid:hover {
  -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.03);
  background: #dc4b4b;
  border: 2px solid #dc4b4b;
}

/* Contributors */
.contributors {
  padding: 50px 0;
}

.contributors hr {
  width: 50%;
  border: 1px solid #b8c2cc;
  margin-top: 50px;
}

.contributors img {
  border-radius: 50px;
  width: 75px;
  padding: 0;
  margin: 0 0 25px 0;
}

.contributors p {
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: 0;
  margin: 0;
}

.contributors a {
  line-height: 1.125rem;
  color: #e47676;
  padding: 0;
  margin: 0;
}

.contributors h3 {
  font-size: 1.125rem;
  line-height: 1.5;
  padding-bottom: 25px;
  color: #606f7b;
}

/* Footer */
footer {
  line-height: 1.5rem;
  margin-bottom: 50px;
}

footer img {
  margin: auto 0;
}

footer span {
  margin-left: .5rem;
}

footer span:hover {
  border-bottom: 1px solid #606f7b;
}

footer a {
  color: #606f7b;
  text-decoration: none;
}

/* Navigation */
.topNav {
  position: fixed;
  width: 100%;
  background-color: #1c2022;
  top: 0;
  padding: 0;
  margin: 0;
}

.topNav ul {
  padding: 0;
  margin: 0;
}

.topNav ul li {
  display: inline;
  color: gray;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.topNav ul li:hoverfirst-of-type {
  border-bottom: 2px solid #e47676;
  padding-bottom: 14px;
}

.topNav img {
  padding-top: 4px;
  padding-left: 4px;
}

.topNav .coffee {
  font-weight: 300;
  font-size: 16px;
  background-color: #e47676;
  color: #fff;
  padding: 15px 25px;
  margin-left: 15px;
  border: none;
}

.topNav .coffee:hover {
  background-color: #e06161;
}

.sideNav {
  height: 100vh;
  background: #24282a;
  width: 288px;
  top: 48px;
  position: fixed;
  z-index: -1;
  padding: 0;
  margin: 0;
}

.sideNav h2 {
  font-size: 18px;
  color: gray;
  padding: 25px 0 0 35px;
  margin: 0;
}

.sideNav p {
  color: #fff;
  font-size: 16px;
  padding: 10px 0 0 50px;
  margin: 0;
}
/*# sourceMappingURL=app.css.map */